<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_for @item, url: create_item_users_path, local: true do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'mb-1 form-control' %>
      <%debugger%>
      <%= f.hidden_field :user_id , value: "#{session[:user_id]}"%>

      <%= f.submit "Create my items", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>